.about p {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}

.about h1,
h2 {
  font-family: "Markazi Text", serif;
}

.about h1 {
  font-weight: 500;
  font-size: 4rem;
  color: #f4ce14;
}

.about h2 {
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.about {
  display: flex;
  margin: 5% 20% 2% 20%;
  gap: 5%;
}

.about__container {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.about__images {
  position: relative;
  width: 80vw;
  height: 30vw;
}

.about__images img {
  width: 65%;
  height: 70%;
  object-fit: cover;
}

.about__images--img {
  position: absolute;
  z-index: 2;
  left: 40%;
}

.about__images--img2 {
  position: absolute;
  top: 23%;
}

.about h2,
.about p {
  color: #333333;
}

@media (max-width: 900px) {
  .about {
    flex-direction: column-reverse;
    margin: 1rem 1rem 3rem 1rem;
  }

  .about p {
    font-size: 1rem;
  }

  .about__images {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 80vw;
    height: 30vw;
    margin-top: 5%;
    margin-bottom: 30%;
    margin-left: 10%;
  }

  .about__images img {
    max-width: 50%;
    height: auto;
  }

  .about__images--img {
    position: absolute;
    z-index: 2;
    left: 35%;
  }

  .about__images--img2 {
    position: absolute;
    top: 70%;
  }
}
