footer {
  font-family: "Karla", sans-serif;
  background-color: #182a24;
  display: flex;
  gap: 4rem;
  justify-content: center;
  padding: 3rem 0 5rem 0;
}

footer p,
footer h1 {
  font-size: 1.25rem;
}

footer h1 {
  font-weight: 800;
  margin-bottom: 1rem;
}

footer p,
footer a {
  font-weight: 500;
}

footer p,
footer a {
  color: #d9d9d9;
}

footer h1 {
  color: white;
}

.footer__logo {
  margin-top: 4rem;
  width: 15%;
}

.footer__logo img {
  width: 100%;
}

.footer__sitemap {
  display: flex;
  flex-direction: column;
}
