.hero {
  background-color: #4c5e57;
}

.hero__container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.hero h2,
.hero p {
  color: #edefee;
}

.hero h1,
.hero h2 {
  font-family: "Markazi Text", serif;
  font-weight: 500;
  margin-bottom: 2%;
}

.hero h1 {
  font-size: 3.5rem;
}

.hero h2 {
  font-size: 2rem;
}
.hero p {
  font-family: "Karla", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 5%;
}

.hero h1 {
  font-size: 3.5rem;
  color: #efce00;
}

.hero__text {
  max-width: 30%;
  align-self: center;
}

.hero__image {
  border-radius: 1rem;
  max-height: 400px;
  max-width: 200px;
  height: 60%;
  width: 20%;
  object-fit: cover;
  position: relative;
  top: 2rem;
}
