.highlights {
  margin-top: 3rem;
}

.highlights__top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 3%;
  margin: 2rem 20vw;
}
