.testimonials {
  background-color: #fcf4ee;
  padding: 6rem 14rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials__title {
  color: #333333;
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 2.25rem;
  margin-bottom: 3rem;
}

.mini-cards {
  display: flex;
  gap: 1rem;
}
