.testimonials {
  background-color: #fcf4ee;
  padding: 6rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials__title {
  color: #333333;
  font-family: "Markazi Text", serif;
  font-weight: 500;
  font-size: 2.25rem;
  margin-bottom: 3rem;
}

.mini-cards {
  display: flex;
  gap: 1rem;
}

@media (max-width: 900px) {
  .testimonials {
    padding: 4rem 2rem;
  }

  .mini-cards {
    width: 90%;
    flex-direction: column;
    padding: 2rem;
    margin: 0 2rem;
  }
}
